.task
    background-color: #f9f9f9
    height: 400px
    width: 300px
    padding: 5px 5px 30px 5px
    position: relative
    &-chatbox
        height: 100%
        overflow-y: scroll
    &-chatmessage
        margin: 10px 0
        &__user-name
            font-weight: bold
    &-controls
        width: 100%
        position: absolute
        bottom: 5px
    &-input
        outline-width: 0
        border: 0
        width: 253px
    &-button
        position: absolute
        right: 10px
